@import 'tailwindcss';
@plugin "daisyui" {
	themes: cupcake --default;
}
@plugin "@tailwindcss/typography";

main {
	padding: 1rem;
}

/* .card {
	background-color: var(--color-base-content);
	color: var(--color-base-100);
} */
